files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
      WSGIDaemonProcess wsgi processes=2 threads=15 display-name=%{GROUP} \
        python-home=/var/app/venv/staging-LQM1lest python-path=/var/app/current
      
container_commands:
  01_install_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"
    leader_only: false
